@model TWeb.Site.Models.Prefeitura
<ul>
    @{
        var tipoProgressBarCss = string.Empty;
        var prefeitura = Model;
        var listDocumentosRegulamentados = Model.Documentos.Where(d => d.Pendente);
        var listDocumentosPendentes = Model.Documentos.Where(d => !d.Pendente);
    }

    <li>
        <img alt="@prefeitura.Nome" title="@prefeitura.Nome" width="115" height="115" src="@Url.Content("~/content/images/Americana-SP.jpg")"/>
        <label class="label-nome-prefeitura">@prefeitura.Nome</label>
        <label class="label-relatorios-criados">
            Relatórios Criados:</label>
        <label class="label-links-criados">
        @foreach (var doc in listDocumentosRegulamentados)
        {
          if (listDocumentosRegulamentados.ToList().IndexOf(doc) ==
                    (listDocumentosRegulamentados.Count() -1))
                {
                    <text><a href="@doc.linkDocumento">@doc.Descricao</a></text>
                }
                else
                {
                    <text><a href="@doc.linkDocumento">@doc.Descricao</a>,</text>
                }  
        }
        </label>
        <label class="label-relatorios-pendentes">
            Relatórios Pendentes:</label>
        <label class="label-links-pendentes">

            @foreach (var doc in listDocumentosPendentes)
            {
                if (listDocumentosPendentes.ToList().IndexOf(doc) ==
                    (listDocumentosPendentes.Count() -1))
                {
                    @doc.Descricao
                }
                else
                {
                    @doc.Descricao<text>, </text>
                }
            }
        </label>
        @if (@prefeitura.Aderencia < 20)
        {
            tipoProgressBarCss = "progs-bar-pendente";
        }
        else if (prefeitura.Aderencia >= 20 && prefeitura.Aderencia < 85)
        {
            tipoProgressBarCss = "progs-bar-parcialmente";
        }
        else if (prefeitura.Aderencia >= 85)
        {
            tipoProgressBarCss = "progs-bar-regulamentado";
        }
        <div class="progressbar @tipoProgressBarCss" valueprogress="@prefeitura.Aderencia">
        </div>
        <label class="label-porcentagem-regulamentado">@prefeitura.Aderencia% Regulamentado</label>
    </li>
</ul>
