@using TWeb.Portal.Models

@model TWeb.Portal.ViewModel.HomeViewModel
@{
    int quantidadePosts = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Portal TOMWEB</title>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.5.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.11.js")"></script>
    
    <link href="@Url.Content("~/content/styles/site.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/styles/jquery-ui/jquery-ui-1.8.14.custom.css")" rel="Stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {

            //if ($(document).height() > $(window).height()) {
            $('#div-conteudo').css('min-height', $(window).height() - 80);
            //}
            ConfiguraProgressBar();
        });
        $(window).resize(function () {
            //if ($(document).height() > $(window).height()) {
            $('#div-conteudo').css('min-height', $(window).height() - 80);
            //}
        });

        function ConfiguraProgressBar() {
            $(".progressbar").each(function () {
                var valueProgressBar = $(this).attr('valueprogress');
                $(this).progressbar();
                $(this).progressbar("option", "value", parseFloat(valueProgressBar));
            });
            $('#div-resultado ul li:last').css('border-bottom', 'none');
        }
    </script>
</head>
<body>
    <div id="div-fundo-verde">&nbsp;</div>
    <div id="div-tudo">
        <div id="div-conteudo">
            <div id="div-topo">
                <img alt="TOMWEB" title="TOMWEB" width="316" height="69" src="@Url.Content("~/content/images/LogoTOMWEB.jpg")"/>
            </div>
            <div id="div-busca">
                <img class="img-topo-busca" alt="" src="@Url.Content("~/content/images/ImagemTopoBusca.png")"/>
                <h1>O TOMWEB dispõe de mais de 800 Municípios monitorados</h1>
                <div id="div-busca-fundocampo">
                    @Html.TextBox("busca")
                    <input id="cmd-buscar" type="button" value="Buscar"/>
                </div>
                <span class="span-total-municipio">Total de Municipios: 800</span>
                <span class="span-total-regulamentados">Municipios regulamentados: 500</span>
                <span class="span-total-pendentes">Municipios pendentes: 300</span>
            </div>
            <div id="div-quantidade-busca">
                <p id="p-quantidade-busca">
                    <span class="span-filtro-busca">Américo Brasiliense</span> encontrou 
                    <span class="span-busca-regulamentados">2 Municipios regularmentados</span> e 
                    <span class="span-busca-pendentes">1 Municipio pendente</span>
                </p>
            </div>
            <div id="div-resultado">
                <ul>
                    <li>
                        <img alt="Prefeitura de Americana" title="Prefeitura de Americana" width="115" height="115" src="@Url.Content("~/content/images/Americana-SP.jpg")"/>
                        <label class="label-nome-prefeitura">Prefeitura de Americana</label>
                        <label class="label-relatorios-criados">Relatórios Criados:</label>
                        <label class="label-links-criados">
                            <a href="#">PPA</a>, <a href="#">LDO</a>, <a href="#">BO</a>, <a href="#">LC</a>, <a href="#">Painel Financeiro</a>
                        </label>
                        <label class="label-relatorios-pendentes">Relatórios Pendentes:</label>
                        <label class="label-links-pendentes">
                            LOA, BF, BP, RGF, RREO, Relatório e Parecer do TCE
                        </label>
                        <div class="progressbar progs-bar-regulamentado" valueprogress="75"></div>
                        <label class="label-porcentagem-regulamentado">75% Regulamentado</label>
                    </li>
                    <li>
                        <img alt="Prefeitura de Americana" title="Prefeitura de Americana" width="115" height="115" src="@Url.Content("~/content/images/Americana-SP.jpg")"/>
                        <label class="label-nome-prefeitura">Prefeitura de Americana</label>
                        <label class="label-relatorios-criados">Relatórios Criados:</label>
                        <label class="label-links-criados">
                            <a href="#">PPA</a>, <a href="#">LDO</a>, <a href="#">BO</a>, <a href="#">LC</a>, <a href="#">Painel Financeiro</a>
                        </label>
                        <label class="label-relatorios-pendentes">Relatórios Pendentes:</label>
                        <label class="label-links-pendentes">
                            LOA, BF, BP, RGF, RREO, Relatório e Parecer do TCE
                        </label>
                        <div class="progressbar progs-bar-parcialmente" valueprogress="50"></div>
                        <label class="label-porcentagem-regulamentado">50% Regulamentado</label>
                    </li>
                    <li>
                        <img alt="Prefeitura de Americana" title="Prefeitura de Americana" width="115" height="115" src="@Url.Content("~/content/images/Americana-SP.jpg")"/>
                        <label class="label-nome-prefeitura">Prefeitura de Americana</label>
                        <label class="label-relatorios-criados">Relatórios Criados:</label>
                        <label class="label-links-criados">
                            <a href="#">PPA</a>, <a href="#">LDO</a>, <a href="#">BO</a>, <a href="#">LC</a>, <a href="#">Painel Financeiro</a>
                        </label>
                        <label class="label-relatorios-pendentes">Relatórios Pendentes:</label>
                        <label class="label-links-pendentes">
                            LOA, BF, BP, RGF, RREO, Relatório e Parecer do TCE
                        </label>
                        <div class="progressbar progs-bar-pendente" valueprogress="10"></div>
                        <label class="label-porcentagem-regulamentado">10% Regulamentado</label>
                    </li>
                </ul>
            </div>
            <div id="div-blog">
                <h2>Blog Pires</h2>
                <ul>
                @foreach (Post post in Model.Rss)
                {
                    quantidadePosts = quantidadePosts + 1;
                    <li>
                        <div>
                            <h3><a href="@post.Link" target="_blank">@post.Titulo</a></h3>
                            <p>@Html.Raw(post.Descricao)</p>
                        </div>
                    </li>
                    if (quantidadePosts == 3)
                    {
                         break;
                    }
                }
                </ul>

             

            </div>
        </div>
        
        <div id="div-rodape">
            <hr/>
            <ul>
                <li><a href="#">Status</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <a class="imgCloud" href="http://www.cloudideas.com.br">
                <img alt="Cloud Ideas" title="Cloud Ideas" width="100" height="28" src="@Url.Content("~/content/images/MiniLogo.jpg")"/>
            </a>
        </div>
    </div>
</body>
</html>
