@using TWeb.Portal.Models

@model TWeb.Portal.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Portal TOMWEB</title>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.5.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.11.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.pager.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/content/styles/site.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/styles/jquery-ui/jquery-ui-1.8.14.custom.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/styles/paginacao.css")" rel="Stylesheet" type="text/css" />

    <script id="tmplPrefeituras" type="text/x-jquery-tmpl">
        <li>
            <img alt="${Nome}" title="${Nome}" width="115" height="115" src="@Url.Content("~/content/images/Americana-SP.jpg")"/>
            <label class="label-nome-prefeitura">${Nome}</label>
            <label class="label-relatorios-criados">Relatórios Criados:</label>
            <label class="label-links-criados">
                <a href="#">PPA</a>, <a href="#">LDO</a>, <a href="#">BO</a>, <a href="#">LC</a>, <a href="#">Painel Financeiro</a>
            </label>
            <label class="label-relatorios-pendentes">Relatórios Pendentes:</label>
            <label class="label-links-pendentes">
                LOA, BF, BP, RGF, RREO, Relatório e Parecer do TCE
            </label>
             {{if Aderencia < 20}}
              <div class="progressbar progs-bar-pendente" valueprogress="${Aderencia}"></div>
             {{/if}}
             {{if Aderencia >= 20 && Aderencia <85}}
              <div class="progressbar progs-bar-parcialmente" valueprogress="${Aderencia}"></div>
             {{/if}}
             {{if Aderencia >= 85}}
             <div class="progressbar progs-bar-regulamentado" valueprogress="${Aderencia}"></div>
             {{/if}}
            <label class="label-porcentagem-regulamentado">${Aderencia}% Regulamentado</label>
        </li>
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            carregarPosts();
            buscarPrefeitura(0);
            $('#div-conteudo').css('min-height', $(window).height() - 80);
            $('#cmd-buscar').click(buscarPrefeituras);
        });

    $(window).resize(function () {
        $('#div-conteudo').css('min-height', $(window).height() - 80);
    });

    function carregarPosts() {
        var url_posts = '@Url.Action("Recente", "Post")';
        $("#div-blog").load(url_posts);
    }

    function buscarPrefeituras() {
        $.post("Index/ConsultarPrefeituraPorNome", { nomePrefeitura: $("#busca").val() }, function (resultado) { alert(resultado); });
    }
    </script>
</head>
<body>
<div id="div-fixo-loading" class="bordaBox">
<div id="div-fixo-conteudo" class="conteudo">
 carregando...
 </div>
 <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
 </div>
    <div id="div-fundo-verde">&nbsp;</div>
    <div id="div-tudo">
        <div id="div-conteudo">
            <div id="div-topo">
                <img alt="TOMWEB" title="TOMWEB" width="316" height="69" src="@Url.Content("~/content/images/LogoTOMWEB.jpg")"/>
            </div>
            <div id="div-busca">
                <img class="img-topo-busca" alt="" src="@Url.Content("~/content/images/ImagemTopoBusca.png")"/>
                <h1>O TOMWEB dispõe de @Model.TotalPrefeitura Municípios monitorados</h1>
                <div id="div-busca-fundocampo">
                    <input type="text" name="busca" id="busca" />
                    <input id="cmd-buscar" type="button" value="Buscar"/>
                </div>
                <span class="span-total-municipio">Total de Municipios: @Model.TotalPrefeitura</span>
                <span class="span-total-regulamentados">Municipios regulamentados: @Model.TotalPrefeiturasRegulamentados</span>
                <span class="span-total-pendentes">Municipios pendentes: @Model.TotalPrefeiturasPendentes</span>
            </div>
            <div id="div-quantidade-busca" style="display:none">
                <p id="p-quantidade-busca">
                    <span class="span-filtro-busca">Américo Brasiliense</span> encontrou 
                    <span class="span-busca-regulamentados">2 Municipios regularmentados</span> e 
                    <span class="span-busca-pendentes">1 Municipio pendente</span>
                </p>
            </div>
            <div id="div-resultado">
                <ul id="ul-prefeitura"></ul>
            </div>
            <div id="div-paginacao"></div>
            <div id="div-blog">
                <img src="../../Content/images/loading.gif" alt="carregando posts..."/><label>carregando posts...</label>
            </div>
        </div>
        
        <div id="div-rodape">
            <hr/>
            <ul>
                <li><a href="#">Status</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <a class="imgCloud" href="http://www.cloudideas.com.br">
                <img alt="Cloud Ideas" title="Cloud Ideas" width="100" height="28" src="@Url.Content("~/content/images/MiniLogo.jpg")"/>
            </a>
        </div>
    </div>
</body>
</html>
